/* SLICK ELEMENTS */
.slick-slider { //
	background-image: url("../images/Backgrounds/Background - Noise 1.png");
	//
	background-repeat: repeat;
	border-radius: 3px;
}

.slick-slider>button {
	display: none !important;
}

.slick-slide {
	height: 100%;
	overflow-y: auto;
}

.slick-slide::-webkit-scrollbar {
	display: none;
}

.slick-list * {
	
}

.slick-slide .panel {
	width: 93.33%;
	margin: 3.33% 3.33%;
}
/* -------------- */