body {
	background-image: url("../images/Backgrounds/Background - Noise 2.png");
	background-repeat: repeat;
	font-family: "Open Sans" !important;
}

body * {
	box-sizing: border-box;
}

#wrapper {
	padding: 1.1em;
	padding-top: 0;
}